.panelHeader {
    width: 100%;
    justify-content: flex-start;
}

.dualPanelContainer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.dualPanelAreaRight {
    flex-direction: column;
    
}

.dualPanelAreaLeft {
    flex-direction: column;
}

.panelFooter {
    width: 100%;
    justify-content: flex-end;
}

/*
@media only screen and (min-width: 600px) {
    .dualPanelAreaRight {
        width: 8.33%;
    }

    .dualPanelAreaLeft {
        width: 8.33%;
    }
}

@media only screen and (min-width: 768px) {

    .dualPanelAreaRight {
        width: 8.33%;
    }

    .dualPanelAreaLeft {
        width: 8.33%;
    }
}
*/

/*
<div className="GameCreationSettings" style={{
, flexWrap: "wrap"
}} >
<div className="areaLeft" style={{ flexDirection: "column", flexWrap: "no-wrap", maxWidth: "250px", textAlign: "left" }}>
<div className="areaRight" style={{}}>
*/