* {
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Comic Sans MS';
    text-align: center;
    width: 100vw;
    height: 100vh;
}
.contenedor{

    display: flex;
    justify-content: space-around;
    align-items: space-around;    
}

.bloque{
    width: 33vw;
    height: 33vh;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    box-shadow: 2px 2px black;
}
.bloque-auto{
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    box-shadow: 2px 2px black;
}
.columna{
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;   
}
.columna-auto{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;   
}
.contenedor > h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:9vw;
}
a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 3vw;
    
}
input[type = text], input[type=submit]{
    border: 2px solid black;
    width: 33vw;
    box-shadow: 2px 2px black;
    font-family: 'Comic Sans MS';
    text-align: center;
}
input[type=password], input[type=date]{
    border: 2px solid black;
    width: 33vw;
    box-shadow: 2px 2px black;
    font-family: 'Comic Sans MS';
    text-align: center;
}
input[type=submit]{
    width: 33vw;
    background-color: white;
}

form {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    width: 33%;
    height: 33%;
}
.estadistica{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: flex-start;
}
table{
    border: 2px solid black;
    border-collapse: collapse;
}
thead{
    background-color: grey;
}

td {
    font-weight: lighter;
    text-align: left;
}
tr:nth-child(even) {background-color: #f2f2f2;}

.lista{
    display: flex;
    flex-flow: row wrap;
    overflow-x: auto;

}
.button {
    background-color: #fff;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Comic Sans MS';
  }
@media screen and (max-width:700px){
    /* td:nth-child(4), td:nth-child(5) , td:nth-child(3), th:nth-child(4), th:nth-child(5) , th:nth-child(3){
        display: none;
    } */
    td, th{
        font-size: 0.5em;
    }
    td > button{
        font-size: 0.5em;
    }
}