
@font-face{
    font-family: 'Comic Sans MS';
    src : url(http://allfont.ru/cache/fonts/comic-sans-ms_53a8778a817839ef2dbc5dc94ce14334.ttf);
}
* {
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Comic Sans MS';
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; 
}

button{
    font-family: 'Comic Sans MS';
    align-items: center;
}
.bloque{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    box-shadow: 2px 2px black;
}
input[type = submit] {
    width: 33vw;
    height: 33vh;
    border: 2px solid black;
    box-shadow: 2px 2px black;
    font-family: 'Comic Sans MS';
    text-align: center;
}

/* .container{
    display: flex;
    justify-content: center;
    align-items: center;    
}

.columna{
    display: flex;
    flex-flow: column wrap;
    border: 2px solid black;
    box-shadow: 2px 2px black;
}
#titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
}
input[type = text], input[type=password] {
    border: 2px solid black;
    box-shadow: 2px 2px black;
    font-family: 'Comic Sans MS';
    text-align: center;
}
form div{
    display: flex;
    justify-content: center;
    align-items: center;
} */

